
#web-app {
    border: 1px solid black;
    border-radius: 30px;
    height: 200px;
    width: 400px;
    margin: 0 auto;
}

h1, p {
    text-align: center;
}

input {
    display: block;
    margin: 0 auto;
}

input[type="number"] {
    width: 100px;
    margin-bottom: 2.5px;
}
